@charset "UTF-8";

/* 
  Variáveis para cores:

  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card


:root {
  --fundo-principal: gray;
  --texto: 
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
}

*/
:root {
   --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  text-decoration: none;    
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
}

header {
  background-color: var(--destaque);
  padding: 5px 20px;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 30px; 
  height: 100%;
}
.icons-navbar {
  border-radius: 10px;
  height: 100%;
}
.icons-navbar i  {
  color: var(--texto-inverso);
}
.icons-navbar a {
  border-radius: 5px;
  padding: 5px;
  
}
.icons-navbar :hover {
  background-color: var(--destaque-inverso);
}

header, main {
  margin-bottom: 15px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--fundo-card);
  border-radius: 8px;
  padding: 15px;
}
#perfil-guanabara img {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
}
.titulos-destaque {
  color: var(--destaque);
  font-size: 1.5em;
}
.textos {
  color: var(--texto);
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
  }
  section {
    grid-column: 2;
  }

}